<h2 class="mt-4">Dashboard</h2>


<div class="row">
	<div class="col">
      &nbsp;
    </div>
    <div class="col-5">
      &nbsp;
    </div>
    <div class="col">
    <p class="lead mb-3">Welcome <%= user.name %></p>
      <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm">
      
		<div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/users.png" alt="User management">
		  <div class="card-body">
		    <p class="card-text text-center"><a href="/users/edit_user/?id=<%= user.id %>">User management</a></p>
		  </div>
		</div>
    </div>
    
    
    <div class="col-sm">
		<div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/departments.png" alt="Department management">
		  <div class="card-body">
		    <p class="card-text text-center"><a href="/bookings/booking_list">Booking management.</a></p>
		  </div>
		</div>
    </div>
    
	
	<div class="col-sm">
		<div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/channel_manager.png" alt="Department management">
		  <div class="card-body">
		    <p class="card-text text-center"><a href="#">My channel management.</a></p>
		  </div>
		</div>
    </div>
	
	<div class="col-sm">
		<div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/promo.jpg" alt="Department management">
		  <div class="card-body">
		    <p class="card-text text-center"><a href="#">My promo management.</a></p>
		  </div>
		</div>
    </div>
	
	<div class="col-sm">
		<div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/guest.jpg" alt="Department management">
		  <div class="card-body">
		    <p class="card-text text-center"><a href="#">My guest management.</a></p>
		  </div>
		</div>
    </div>
    
	<div style="clear:both; padding-top:250px;"></div>
	<div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/payment.jpg" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">My payment management</p>
		  </div>
		</div>
    </div>
	
    
    <!--
    <div style="clear:both; padding-top:250px;"></div>
    
    <div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/stock.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">The stock management</p>
		  </div>
		</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/stock.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">The stock management</p>
		  </div>
		</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/stock.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">The stock management</p>
		  </div>
		</div>
    </div>
    
    <div style="clear:both; padding-top:250px;"></div>
   
    
    <div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/payment.jpg" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">Stock management</p>
		  </div>
		</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/stock.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">The stock management</p>
		  </div>
		</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 10rem;">
		  <img class="card-img-top" src="http://localhost:5005/assets/imgs/stock.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text">The stock management</p>
		  </div>
		</div>
    </div>
    -->
    
    
    
  </div>
<!-- -->
  
</div>



