<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
	<link rel="icon" href="favicon.ico"/>
    
    <link rel="stylesheet" href="http://localhost:5005/assets/css/bootstrap.min.css"/>
	
	<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
	
	
    <script type="text/javascript" src="http://localhost:5005/assets/js/jquery.js"></script>
  
  
    <script src="http://localhost:5005/assets/js/moment.min.js"></script>
    <script src="http://localhost:5005/assets/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="http://localhost:5005/assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
    <link href="http://localhost:5005/assets/css/jquery.datepick.css" rel="stylesheet">
    <script src="http://localhost:5005/assets/js/jquery.plugin.min.js"></script>
	<script src="http://localhost:5005/assets/js/jquery.datepick.js"></script>
      

     
    <title>Four Seasons Canterbury</title>
  </head>
  <body>
    <div class="container" style="border:0px solid red;">
    
<a class="navbar-brand" href="/dashboard">
  <!--img src="http://localhost:5005/assets/imgs/logo.gif" style="display: inline-block;"-->
  
  <h1>Four Seasons</h1>
</a>

    <%- body %></div>

   
  </body>
</html>
